.switch-lang {
    color: #fff !important;
    width: 115px;
}

.switch-lang #switch-lang-btn {
	background: transparent !important;
	border: 0 !important;
	padding: 4px !important;
	display: block;
}

.lang-item {
	display: flex;
	align-items: center;
	font-weight: bold;
	width: auto !important;
	max-width: 300px !important;
	font-size: 13px;
	-webkit-transition: all .25s;
	   -moz-transition: all .25s;
	    -ms-transition: all .25s;
	     -o-transition: all .25s;
	        transition: all .25s;
}
.switch-lang .dropdown-menu .lang-item{
	color: var(--text-color);
}
.switch-lang #switch-lang-btn .lang-item{
	color: var(--white-color);
}
.lang-item:hover{
	opacity: .85;
}
.switch-lang #switch-lang-btn:before, .switch-lang #switch-lang-btn:after {
	display: none;
}

.lang-item img {
	max-width: 30px;
	max-height: 30px;
	object-fit: contain;
	object-position: center;
	margin-right: 8px;
}

.switch-lang .dropdown-menu {
	left: auto !important;
	right: 0 !important;
	padding: 4px;
	width: 115px;
	min-width: 115px;
    box-shadow: 0px 5px 10px rgba(0,0,0,.125) !important;
    z-index: 9001;
}


.featured-products {

}


.featured-product .thumbnail-josip {
    overflow: hidden;
    position: relative;
}
.featured-product .thumbnail-josip:hover {
	box-shadow: 0 5px 45px 0 rgba(0, 0, 0, 0.125);
}
.featured-product .thumbnail-josip > a > img {
    width: 100%;
    height: auto;
    transition: .35s;
    will-change: transform;
}

.featured-product .thumbnail-josip figcaption {
    position: static;
    width: 100%;
    padding: 12px 0;
    -webkit-transition: 0.3s, opacity 0.1s 0.3s;
    -o-transition: 0.3s, opacity 0.1s 0.3s;
    transition: 0.3s, opacity 0.1s 0.3s;
    background: #f8f9fe;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 992px){
    .featured-product .thumbnail-josip figcaption {
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        padding: 12px;
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    .featured-product .thumbnail-josip:hover > a > img {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}
.thumbnail-josip:hover figcaption {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: transform 0.3s, opacity 0.1s;
    -o-transition: transform 0.3s, opacity 0.1s;
    transition: transform 0.3s, opacity 0.1s;
}

.featured-product .thumbnail-josip .thumbnail-josip-title {
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.featured-product .thumbnail-josip figcaption > div {
    padding-right: 12px;
    flex: 1;
    min-width: 1px;
}

.featured-product .thumbnail-josip .veil {
    font-size: 80%;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}

.featured-product .thumbnail-josip .btn {
    font-size: 80%;
}

.video-youtube {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 770px;
}
.video-youtube-iframe {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-youtube-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.news-item {
    text-align: left;
    border-bottom: 1px dotted #ccc;
    list-style-type: none;
    margin-bottom: 2.4em;
    padding-bottom: 2.4em;
}

.news-item:first-child {
    padding-top: 2.4em;
}

.news-item .date {
	font-weight: bold;
	color: #b59345;
	margin-right: 1em;
}

.news-item .ctg {
    border: 2px solid #b59345;
    font-size: 88%;
    color: #b59345;
    padding: 3px 10px;
    border-radius: .3em;
    opacity: .6;
}

.news-item .news-info {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.news-item.out-date .news-info .date,.news-item.out-date .news-info .ctg {
    color: #d2101b !important;
}

.news-item.out-date .news-info .ctg {
    border: 2px solid #d2101b !important;
}
.news-item:last-child {
    margin-bottom: 0;
}
.fanpage-tool {
    text-align: center;
}



.index_bnr_list ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.index_bnr_list ul li {
    flex: 0 0 100%;
    margin-bottom: 2em;
}
@media screen and (min-width: 480px){
	.index_bnr_list ul li {
	    flex: 0 0 50%;
	}
}
@media screen and (min-width: 1199px){
	.index_bnr_list ul li {
	    margin-bottom: 0em;
	}
}
.index_bnr_list figure {
    overflow: hidden;
    position: relative;
    margin: 0;
    z-index: 1;
}
.index_bnr_list ul li img {
    width: 100%;
    position: relative;
}
.thumbnail-janes img{
    width: 100%;
    height: auto;
    transition: .35s;
    will-change: transform;
}


.thumbnail-janes figcaption {
    position: static;
    padding: 20px;
    top: 0;
    left: 0;
    height: 100%;
    text-align: left;
    backface-visibility: hidden;
    -webkit-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    transition: transform 0.3s;
    background: #f8f9fe;
}
@media (min-width: 1200px){
	.thumbnail-janes figcaption {
	    position: absolute;
	    padding: 25px 30px 30px 30px;
	    width: 101%;
	    -webkit-transform: translateX(-100%);
	    transform: translateX(-100%);
	    z-index: 9999;
	}
}

@media (min-width: 1800px){
	.thumbnail-janes figcaption {
	    width: 50%;
	}
}


.thumbnail-janes-title {
    color: #19335c;
}
.thumbnail-janes figcaption h3 {
    font-weight: bold;
    text-shadow: none;
    font-size: 16px;
}
@media (min-width: 768px){
	.thumbnail-janes figcaption h3 {
	    font-size: 18px;
	}
}

.thumbnail-janes p {
    font-size: 13px;
    color: #666;
    margin-top: 5px;
    margin-bottom: 10px;
    max-height: 50px;
    overflow: hidden;
}

@media (min-width: 1200px){
	.thumbnail-janes p {
	    max-height: 75px;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
}

@media (min-width: 1800px){
	.thumbnail-janes p {
	    max-height: none;
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
}

@media (min-width: 1200px){
	.thumbnail-janes:hover img {
	    -webkit-transform: translateX(25%);
	    transform: translateX(25%);
	}
}
.thumbnail-janes:hover figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
.index_bnr_list figure:hover {
    box-shadow: 0 5px 45px 0 rgba(0, 0, 0, 0.125);
}
.parallax-window-ct {
    position: relative;
    overflow: hidden;
}
.parallax-window {
    background: transparent;
    overflow: hidden;
}
#home-slider .owl-item img {
    width: 100%;
    max-height: 75.5vh;
    object-fit: cover;
    object-position: center;
}

#home-slider .owl-item {
    position: relative;
}

#home-slider .owl-item .slide-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
}
.slide-caption-content {
    position: relative;
}
.slide-caption-content .btn {
    box-shadow: 0px 5px 10px rgba(0,0,0,.075);
}

.slide-caption-content h2,.slide-caption-content p {
    text-shadow: 0px 2px 5px rgba(0,0,0,.075);
}
.slide-caption:after {content: "";position: absolute;bottom: 0;left: 0;width: 100%;height: 75%;background: linear-gradient(0deg, rgba(0,0,0,.5), transparent);}

.slide-caption .container {
    position: relative;
    z-index: 1;
}



.caption-animate-old {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.caption-animate-old {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}



.caption-animate-new {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.caption-animate-new {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}