html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
/* End Font */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Black.otf);
    font-weight: black;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Bold.otf);
    font-weight: 600;
}
body {
    background:#f8f9fe !important;
    color:#222;
    font-size: 13px;
    font-family: MarkPro;
    font-weight: 300;
    position: relative;
}

img { width: auto; height: auto; max-width: 100%; vertical-align: middle;  }


figure { margin: 0; padding: 0; }

.clear {
    clear: both;
}
.btn-group .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}
*, *::after, *::before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
* {
    padding: 0;
    margin: 0;
    outline: none !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
@charset "UTF-8";
.no-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-l {
    padding-left: 0px;
}
.no-padding-r {
    padding-right: 0px;
}
.no-padding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-padding {
    padding-bottom: 0;
}
.nopad{
    padding: 0 !important;
}


.fbold{
    font-weight: bold;
}
.theme_color{
    color: #ed1d24;
}
.text_white{
  color: #fff !important;
}
.text_link_black{
    color: #404040;
}

.text_link_black:hover{
    color: #ed1d24 ;
}


.dp_block  {
    display: block;
}
.dp_table{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.dp_table_cell{
    display: table-cell;
}
.va_mid{
    vertical-align: middle;
}
.text_italic {
    font-style: italic;
}

.fw_600{
    font-weight: 600;
}

.mb_50{
    margin-bottom: 50px !important;
}
.mb_45{
    margin-bottom: 45px !important;
}
.mb_40{
    margin-bottom: 40px !important;
}
.mb_35{
    margin-bottom: 35px !important;
}
.mb_30{
    margin-bottom: 30px !important;
}
.mb_25{
    margin-bottom: 25px !important;
}
.mb_20{
    margin-bottom: 20px !important;
}
.mb_15{
    margin-bottom: 15px !important;
}
.mb_10{
    margin-bottom: 10px !important;
}
.mb_5 {
    margin-bottom: 5px !important;
}
.mb_0 {
    margin-bottom: 0px !important;
}
.mt_0 {
	margin-top: 0px !important;
}
.mt_15 {
	margin-top: 15px !important;
}
.mr_35{
    margin: 35px 0;
}
.mr_30{
    margin: 30px 0;
}
.mr_25{
    margin: 25px 0;
}
.mr_20{
    margin: 20px 0;
}
.mr_15{
    margin: 15px 0;
}
.mr_10{
    margin: 10px 0;
}
.mr_5 {
    margin: 5px 0;
}
.mr_0{
    margin: 0;
}
.pd_0 {
	padding: 0;
}
.pdl_315 {
	padding-left: 315px;
}
.pdt_25 {
	padding-top: 25px;
}
.pdt_15 {
	/* padding-top: 15px; */
}
.pdr_15 {
	padding-right: 15px !important;
}
.pdb_15 {
	padding-bottom: 15px;
}
.pdt_0 {
	padding-top: 0px !important;
}
.pdb_0 {
	padding-bottom: 0px !important;
}
.heig_301 {
	height: 301px;
	position: relative;
	overflow: hidden;
	display: block;
}
.heig_315{
	height: 315px;
}
.heig_315{
	height: 355px !important;
}
.bg_fff {
	background: #fff;
}
.cl_gr {
	color: green !important;
}
.cl_yel {
	color: yellow !important;
}
.cl_yelbold {
	color: #FEE927 !important;
}
.cl_xanhvang{
	color: #7BCC00 !important;
}
.cl_red {
	color: #E41111 !important;
}
.cl_blue{
	color: #00affd !important;
}
.bg_tim {
	background: #CF62F0;
}
.bg_timxanh {
	background: #6762F0;
}
.bg_hong {
	background: #EBB2B2;
}
.bg_vang {
	background: #EBD4B2;
}
.bg_shit {
	background: #928510;
}
.bg_xanh {
	background: #B6EBB2;
}
.bg_xanhdam {
	background: #50CB7D;
}
.bg_datroi {
	background: #94D2E9;
}
.gradiend_hong {
	background: #f06292; /* Old browsers */
	background: -moz-linear-gradient(left, #f06292 0%, #fe387b 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #f06292 0%,#fe387b 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #f06292 0%,#fe387b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f06292', endColorstr='#fe387b',GradientType=1 ); /* IE6-9 */
}
.gradiend_xanh {
	background: #7bcc00; /* Old browsers */
	background: -moz-linear-gradient(left, #7bcc00 0%, #6bb102 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #7bcc00 0%,#6bb102 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #7bcc00 0%,#6bb102 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bcc00', endColorstr='#6bb102',GradientType=1 ); /* IE6-9 */
}
.gradiend_blue {
	background: #00affd; /* Old browsers */
	background: -moz-linear-gradient(left, #00affd 0%, #0096d8 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #00affd 0%,#0096d8 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #00affd 0%,#0096d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00affd', endColorstr='#0096d8',GradientType=1 ); /* IE6-9 */
}
.gradiend_cam {
	background: #ff9100; /* Old browsers */
	background: -moz-linear-gradient(left, #ff9100 1%, #d87c02 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff9100 1%,#d87c02 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff9100 1%,#d87c02 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#d87c02',GradientType=1 ); /* IE6-9 */
}
.gradiend_red {
	background: #ff5b5b; /* Old browsers */
	background: -moz-linear-gradient(left, #ff5b5b 1%, #c30000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #ff5b5b 1%,#c30000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #ff5b5b 1%,#c30000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5b5b', endColorstr='#c30000',GradientType=1 ); /* IE6-9 */
}
.gradiend_xam {
	background: #e4e4e4; /* Old browsers */
	background: -moz-linear-gradient(left, #e4e4e4 1%, #b8b2b2 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #e4e4e4 1%,#b8b2b2 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #e4e4e4 1%,#b8b2b2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#b8b2b2',GradientType=1 ); /* IE6-9 */
}
.gradiend_yellow {
	background: #FECE57; /* Old browsers */
	background: -moz-linear-gradient(left, #FECE57 1%, #F5B821 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #FECE57 1%,#F5B821 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #FECE57 1%,#F5B821 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#b8b2b2',GradientType=1 ); /* IE6-9 */
}

.NavHead .nav .ListMenu figure.bd_Green{
	border-color: #95cd97 !important;
}
.NavHead .nav .ListMenu figure.bd_red{
	border-color: #f07a78 !important;
}
.NavHead .nav .ListMenu figure.bd_Xanh{
	border-color: #94cfc9 !important;
}
.NavHead .nav .ListMenu figure.bd_Blue{
	border-color: #6ecbf5 !important;
}
.NavHead .nav .ListMenu figure.bd_orange{
	border-color: #fcba58 !important;
}

#scrollspy_Nav .nav > li:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0px;
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
#scrollspy_Nav .nav > li.bd_Green:after{
	background: #7bcc00;
    background: -moz-linear-gradient(left, #7bcc00 0%, #6bb102 100%);
    background: -webkit-linear-gradient(left, #7bcc00 0%,#6bb102 100%);
    background: linear-gradient(to right, #7bcc00 0%,#6bb102 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7bcc00', endColorstr='#6bb102',GradientType=1 );
}
#scrollspy_Nav .nav > li.bd_red:after{
	background: #ff5b5b;
    background: -moz-linear-gradient(left, #ff5b5b 1%, #c30000 100%);
    background: -webkit-linear-gradient(left, #ff5b5b 1%,#c30000 100%);
    background: linear-gradient(to right, #ff5b5b 1%,#c30000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5b5b', endColorstr='#c30000',GradientType=1 );
}
#scrollspy_Nav .nav > li.bd_Xanh:after{
    background: #ff9100;
    background: -moz-linear-gradient(left, #ff9100 1%, #d87c02 100%);
    background: -webkit-linear-gradient(left, #ff9100 1%,#d87c02 100%);
    background: linear-gradient(to right, #ff9100 1%,#d87c02 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9100', endColorstr='#d87c02',GradientType=1 );
}
#scrollspy_Nav .nav > li.bd_Blue:after{
    background: #00affd;
    background: -moz-linear-gradient(left, #00affd 0%, #0096d8 100%);
    background: -webkit-linear-gradient(left, #00affd 0%,#0096d8 100%);
    background: linear-gradient(to right, #00affd 0%,#0096d8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00affd', endColorstr='#0096d8',GradientType=1 );
}
#scrollspy_Nav .nav > li.bd_orange:after{
    background: #FECE57;
    background: -moz-linear-gradient(left, #FECE57 1%, #F5B821 100%);
    background: -webkit-linear-gradient(left, #FECE57 1%,#F5B821 100%);
    background: linear-gradient(to right, #FECE57 1%,#F5B821 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#b8b2b2',GradientType=1 );
}


#scrollspy_Nav .nav > li.active:after {
    height: 100%;
}
/*1_1_Fix_img_fit_parent_div*/
.title_bigbox img {
	width: 70px;
	margin-right: 10px;
	text-transform: uppercase;
}
.tailieu, .congviec {
	/* margin-bottom: 30px; */
}
.box_shaDown {
	-webkit-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
	-moz-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
	box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
	border-radius: 0.375rem;
	overflow: hidden;
}
.li-50 >li {
	width: 50%;
	font-weight: 500;
	font-size: 15px;
	text-transform: uppercase;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1; /*(1 dÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ng)*/
    -webkit-box-orient: vertical;
}
.li-50 >li.active a {
	color: #fff !important;
	background-color: #81D3D5 !important;
}
.li-50 >li.active a:hover, .li-50 >li.active a:focus {
	color: #fff;
}
.li-50 >li a {
	margin: 0;
	font-size: 18px;
	font-weight: 500 !important;
	font-family: 'Open Sans', sans-serif;
}
.tailieu .tab-content {
	padding: 0 15px;
	height: 380px;
	overflow-y: auto;
	position: relative;
	display: block;
	overflow: hidden;
}
.list_cust, .list_cust ul {
	width: 100%;
	margin: 0;
}
.list_cust--date {
	font-size: 11px;
	font-style: italic;
	color: #999;
	margin: 3px 0 0 0;
	/* padding-left: 25px; */
}
.list_cust >li >a >i {
	/* font-size: 17px; */
	/* margin-right: 3px; */
	/* float: left; */
	/* margin-top: 3px; */
}
.list_cust >li {
	position: relative;
	border-bottom: 1px solid #eee;
	padding-bottom: 10px !important;
	margin-bottom: 10px;
	display: flex;
	align-items: center;
}
.congviec .list-inline > li, .tailieu .list-inline > li {
	vertical-align: top;
}
.list_cust >li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: 0;
}
.list_cust >li >ul >li i {
	font-size: 35px;
}
.titie_list {
	font-weight: 400;
	font-size: 12px;
}
.titie_list span {
	font-weight: 300;
	font-size: 11px;
	color: #666;
}
.title_h4 {
	/* font-weight: 500; */
	/* margin-bottom: 27px; */
}
.box_ul {
	overflow-y: auto;
	padding-bottom: 0;
	display: block;
	position: relative;
	overflow: hidden;
}
.titie_list i {
	font-size: 10px !important;
}
.titie_list strong {
	font-weight: 200;
	font-size: 11px;
}
.btn_more_list {
	display: block;
	width: 100%;
	text-align: center;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-top: 1px solid #eee;
	bottom: 0;
}
.box_dash {
	border: 1px solid #eee;
	margin-bottom: 30px;
	padding: 10px 15px;
}
.box_dash {
	position: relative;
	height: 90px;
	border: 0px !important;
	/*border-radius: 0px !important;*/
}
.box_dash >i, .congviec--box_dash >i {
	position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 22px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
}
.box_dash--text {
	padding-left: 75px;
	font-size: 15px;
	font-weight: 500;
	/* margin-top: 10px; */
	margin: 0;
}
.box_dash--text span {
	font-size: 12px;
	font-weight: 200;
}
.title_bigbox {
	margin-bottom: 25px;
	margin-top: 0;
}
/*----------CongViec----------*/
.congviec--box_dash {
	height: 100px;
	position: relative;
	margin-bottom: 30px;
	border: 0px !important;
	border-radius: 0px !important;
}
.congviec--box_dash >i {
	background: rgba(0,0,0,.2);
}
.tailieu-box_dash--text {
	color: #fff;
	padding-left: 75px;
	font-weight: 500;
	font-size: 16px;
	/* margin-top: 30px; */
	margin: 0;
}
.tailieu-box_dash--text span {
	font-size: 14px;
	font-weight: 200;
}
.tailieu-box_dash--text span i {
	font-size: 12px;
}
.select_abs {
	position: absolute;
	top: 15px;
	right: 15px;
	border: 1px solid #ccc;
	border-radius: 50%;
	font-size: 20px;
	color: #666;
	width: 25px;
	height: 25px;
	line-height: 21px;
}
.status_mutr {
	margin-top: 3px;
	/* padding-left: 25px; */
	overflow: hidden;
	margin-bottom: 0;
}
.status_mutr >span {
	display: block;
	float: left;
	padding: 3px 7px;
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
}
.status-avatar {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	position: absolute;
	right: 5px;
	top: 50%;
	/* border: 1px solid #ccc; */
	overflow-y: hidden;
	margin-top: -15px;
}
.status-avatar img {
	width: 30px;
	height: 30px;
	object-fit: cover;
}
.tailieu--filter {
	/* margin-top: -15px; */
	/* margin-bottom: 15px; */
}
.title_chart {
	/* padding: 15px; */
	/* font-size: 17px; */
	background: #fff;
}
.date-pickerRanger {
    /* position: absolute; */
    /* top: 10px; */
    /* right: 15px; */
    line-height: 28px;
    padding: 0 15px;
    /* width: 195px; */
    height: 30px;
    /* padding-left: 10px; */
}
.icon_pickerRanger {
    position: absolute;
    top: 18px;
    right: 24px;
    font-size: 14px;
    color: #666;
}
.congviec >.row >.col-md-6 {
	border-radius: 5px;
}
@media (max-width: 820px) {
	.boxGroup {
		margin-bottom: 30px;
	}
	.congviec--box_dash {
		margin-bottom: 0;
	}
	.tailieu-box_dash--text {
		margin-top: 0;
		padding-top: 25px;
	}
	.thongkeTailieubox {
		margin-bottom: 30px;
	}
}
.title_h4  {
	text-transform: uppercase;
}
.title_h4 a:hover, a:hover {
    color: #03A3D8 !important;
}
.date-pickerRanger, select {
	border-radius: 9999px;
	border: 1px solid #eee;
    box-shadow: none !important;
}
@media (max-width: 1300px) {
	.tailieu-box_dash--text {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 0;
	}
}
@media (max-width: 1215px) {
	.title_h4 {
		font-size: 14px;
		  overflow: hidden;
	  display: -webkit-box;
	  -webkit-line-clamp: 1; /*(1 dÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¾ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¾ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â²ng)*/
	  -webkit-box-orient: vertical;
	}
	.hidden_ts {
		display: none;
	}
}
@media (max-width: 1170px) {
/*	.col-md-2.thongkeTailieubox {
		width: 33.333333% !important;
	}*/
	.li-50 >li a {
		line-height: 30px;
	}
}
@media (max-width: 1135px) {
	.tailieu .tab-content {
		height: 378px;
	}
}
@media (max-width: 1000px) {
	.boxGroup {
		margin-bottom: 30px;
	}
/*	.col-md-2.thongkeTailieubox, .tailieu >.row >.col-md-3 {
		width: 50%;
	}*/
	.congviec >.row >.col-md-6 {
		width: 100% !important;
	}
	.tailieu .tab-content {
	    height: 372px;
	}
}
@media (max-width: 771px) {
	/*.col-md-2.thongkeTailieubox {
		width: 100% !important;
	}*/
	.tailieu-box_dash--text {
		transform: translateY(-68%);
	}
	.boxGroup {
		width: 100%;
	}
/*	.boxGroup, .col-md-2.thongkeTailieubox, .tailieu >.row >.col-md-3 {
		width: 100%;
	}*/
}
@media (max-width: 600px) {
	.title_chart {
		height: 80px;
		text-align: center;
	}
	.date-pickerRanger {
	    top: 40px;
	    right: 50%;
	    transform: translateX(50%);
	}
}
.heiImp {
	height: 301px !important;
}




.box_shaDown {
    display: flex;
    flex-direction: column;
    position: relative;
}
.box_shaDown .box_ul {
    flex: 1;
}
.boxGroup {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: stretch;
	clear: both;
	padding: 0;
}
.box_shaDown{
	margin: 0 15px;
	margin-bottom: 30px !important;
}


@media(max-width: 1920px){
	.boxGroup .flex-md-4{
		width: calc(33.33333333% - 30px);
	}
	.boxGroup .flex-md-3{
		width: calc(25% - 30px);
	}
	.boxGroup .flex-md-6{
		width: calc(50% - 30px);
	}
}
@media(max-width: 1200px){
	.boxGroup .flex-sm-6{
		width: calc(50% - 30px);
	}
}
@media(max-width: 767px){
	.boxGroup .flex-xs-12{
		width: 100%;
	}
}

.box_shaDown .title_h4 {
    /* margin: 15px 0px; */
}

.box_shaDown .title_h4 ~ .tailieu--filter {
    /* margin-top: -5px; */
}


.main_title_cap {
    margin: 0;
}

.boxGroupChart {
    position: relative;
    display: block;
    width: 100%;
    flex: 1;
}


@media (max-width: 771px) {
    .top_block > [class*="col-"] {
        width: 50%;
    }


}
@media (max-width: 479px) {
    .top_block > [class*="col-"] {
        width: 100%;
    }


}
@media (max-width: 1170px) {
    .top_block > .thongkeTailieubox[class*="col-"] {
        width: 33.333333%;
    }


}

.box_shaDown .title_h4, .tailieu--filter {
    /* padding: 0 15px; */
}
.box_ul > ul > li {
    padding: 0 15px;
}

.top_block .box_shaDown {
    justify-content: center;
}

/*TUAN CSS*/
/* Index */
.NavHead .nav{
    display: flex;
    justify-content: center;
    /* padding: 10px 0; */
    background: #000;
    flex-wrap: wrap;
}
.title_bigbox,
.title_h4{
    text-transform: uppercase;
}
.kinhdoanh .title_h4 {
    /* padding: 10px 15px; */
    /* margin-bottom: 10px; */
}
.kinhdoanh .tailieu--filter{
    /* margin-bottom: 10px; */
    /* padding:0 10px; */
}
.NavHead .nav .ListMenu{
    /* min-width: 150px; */
    /* margin: 10px 0; */
}
.NavHead .nav .ListMenu.active{
    font-weight: 500;
    color: #2e92f3;
}
.NavHead .nav .ListMenu a:hover {
    color: #2e92f3;
}
.NavHead .nav .ListMenu figure{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
}
.NavHead .nav .ListMenu figure img{
    height: 20px;
    width: 20px;
}
.nav.fixed-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    box-shadow: 0px 1px 3px 0px #00000059;
}
.darboardBody {padding: 0;}
.darboardBody .InfoNv{
    width: 100%;
    float: left;
    background: #fff;
}
.darboardBody .InfoNv .headerNv{
    width: 100%;
    float: left;
    background: url(../images/thietkewebsitebanhang-bannerup.jpg) no-repeat;
    padding: 40px;
    background-position: bottom center;
    background-size:100% 100%;
    min-height: 180px;
}
.darboardBody .InfoNv .headerNv .img--daidien {
    /* float: left; */
    /* width: 100px; */
    /* height: 100px; */
    /* text-align: center; */
    margin-right: 20px;
}
.darboardBody .InfoNv .headerNv .img--daidien img{
    border-radius:50%;
    width:75px;
    height:75px;
    object-fit:cover;
}
.darboardBody .InfoNv .headerNv .ThongTin--nv {
    color: #fff;
    /* padding: 12px 0; */
}
.darboardBody .InfoNv .Giai--thuong{
    width: 70%;
    margin: auto;
    padding:15px 0;
}
.List--giaithuong{
    text-align: center;
}
.List--giaithuong .img-gt{
    width: 50px;
    margin: auto;
    border-radius: 50%;
    height: 50px;
}
.List--giaithuong .img-gt img {
    width: 30px;
    margin: auto;
}
.List--giaithuong .ttgt {
    font-size: 11px;
    color: #666;
    margin: 10px 0 0 0;
}
.tt--info {
    padding: 0 15px 15px 15px;
}
.tt--info ul li{
    padding:10px 0;
    font-size:14px;
}
.tt--info ul li span{
    display:inline-block;
    min-width:150px
    color: #777;
}
.AtCalendar{
    width: 100%;
    float: left;
    background: #fff;
    position: relative;
}
.AtCalendar .tailieu--filter.date-pickerRanger {
    width: auto;
    /* top: 25px; */
    /* right: 30px; */
    /* margin-bottom: 0; */
    border:none;
}
.AtCalendar .title_at{
    font-size: 18px;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #03A3D8;
    /* padding:15px; */
    /* font-family: 'Open Sans', sans-serif; */
}
.Thonke--at{
    display: flex;
    justify-content:space-between;
    padding:0 10px 10px 10px;
}
.Thonke--at .tk--at{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    margin: 0px 5px;
    text-align: center;
    padding: 15px;
    border-radius: 8px;
}
.Thonke--at .tk--at p{
    margin-bottom:0;
    color: #fff;
}
.Thonke--at .tk--at .title{
    font-weight: bold;
    font-size: 16px;
}
.Thonke--at .tk--at .nd--at{
    font-size: 14px;
}
.calender--info{
    display: grid;
    grid-template-columns: auto auto auto;
    border-top:1px solid #eee;
}
.calender--info .calender{
    -webkit-flex: 1;  /* Safari 6.1+ */
    -ms-flex: 1;  /* IE 10 */
    flex: 1;
    border-bottom:1px solid #eee;
    border-right: 1px solid #eee;
    position: relative;
    padding: 5px 10px;
}
.calender--info .calender p{
    margin-bottom: 1.8px;
}
.calender--info .calender .tt {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    /* margin: 0 0 0 10px; */
}
.calender--info .calender .time{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.calender--info .calender .date {
    font-size: 11px;
    color: #757575;
}
.big--new{
    position: relative;
}
.big--new .caption{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    padding: 10px 20px;
    color: #fff;

}
.big--new .caption .title{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    margin: 0 0 5px 0;
}
.big--new .caption .title a:hover{
    color: #fff;
}
.big--new .caption .time{
    font-size: 13px;
    margin: 0 0 5px 0;
}

.small--new {
    padding: 12px 15px;
    background: #fff;
}
.small--new ul li:first-child .List{
    padding-top:0;
}
.small--new .List{
    padding: 10px 0 0 0;
    display: flex;
    align-items: flex-start;
}

.small--new .List figure{
    position: relative;
    width: 75px;
    overflow: hidden;
}
.small--new .List figure img {
	width: 100%;
	height: 51px;
	object-fit: cover;
	object-position: center;
    border-radius: 3px;
}
.small--new .List .small--caption{
     padding:0 0 0 10px;
     min-width: 0;
     flex: 1;
}
.small--new .List .small--caption .title{
    font-size:15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px 0 0 0;
    margin: 0 0 5px 0;
}
.small--new .List .small--caption .title a{
    color: #333;
}
.small--new .List .small--caption .title a:hover{
    color: #03A3D8;
}
.small--new .List .small--caption .time{
    color:#757575;
    margin: 0;
}

.big--new figure {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow:hidden;
}
.big--new figure img{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.Note--info{
    background: #fff;
}
.Note--info .titleNote{
    padding:15px;
    border-top: 1px solid #eee;
}
.Note--info .titleNote .title{
    font-size: 17px;
    color: #555;
    text-transform: uppercase;
}
.Note--info .titleNote .span--note span{
    font-size: 25px;
    color: #FF5B7D;
    font-weight: bold;
}
.Note--info .titleNote .span--note{
    color:#888;
}
.Note--info .List--note {
    padding: 0 15px 15px 15px;
}
.Note--info .List--note input[type=checkbox]:checked + span{
    text-decoration:line-through;
    color:#888;
}
.Note--info .List--note li{
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
    margin: 5px 0 0 0;
    position: relative;
}
.Note--info .List--note .checkbox {
    padding: 0;
    margin: 0;
}
.Note--info .List--note li.Add--note {
    padding: 0;
    border: none;
}
.Note--info .List--note li.Add--note input.form-control{
    border-color: #f07a78;
}
.Note--info .List--note li.Add--note .btn--add {
    padding: 8px 10px;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    border-radius: 0 5px 5px 0;
    background: #f07a78;
    color: #fff;
    text-transform: uppercase;
}
.Note--info .List--note .btn--delect {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    -webkit-transition: all ease 1s; /* Safari */
    transition: all ease 1s;
    visibility: hidden;
    opacity: 0;
}
.Note--info .List--note .btn--delect a{
    display:inline-block;
    width:25px;
    height:25px;
    line-height:25px;
    text-align:center;
    background:#f07a78;
    color:#fff;
    border-radius:50%;
}
.tt--info ul li span i {
    display: inline-block;
    width: 20px;
    text-align: center;
}
.Note--info .List--note li:hover .btn--delect{
    visibility: visible;
    opacity: 1;
}
.flex_streck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex_streck .box_shaDown {
    width: calc(25% - 30px);
    margin: 0 15px;
    background: #fff;
    border-radius: 5px;
    /*overflow: hidden;*/
    margin-bottom: 30px;
}
.flex_streck .box_shaDown.thongkeChart{
    width: calc(50% - 30px);
}
@media (max-width:1200px){
    .flex_streck .box_shaDown.thongkeChart{
        width: calc(100% - 30px);
    }
    .flex_streck .box_shaDown {
        width: calc(50% - 30px);
        /* margin:0 15px; */
        background: #fff;
    }
}
@media (max-width:767px){
    .dash--statistical{
        width: 50%;
    }
}
@media (max-width:640px){
    .flex_streck .box_shaDown {
        width: calc(100% - 30px);
        margin: 15px;
        background: #fff;
    }
}
@media (max-width:500px){
    .dash--statistical{
        width: 100%;
    }
}
@media (max-width:340px){
    .darboardBody .InfoNv .headerNv{
        padding:40px 10px;
    }
    .darboardBody .InfoNv .headerNv .ThongTin--nv .Name {
        font-size: 19px;
    }

    .darboardBody .InfoNv .headerNv .ThongTin--nv .Team {
        font-size: 14px;
    }
}
/* End Index */









.bg_50CB7D{
    background: #50CB7D;
}
.bg_6762F0{
    background: #6762F0;
}
.kinhdoanh,.license {
    margin: 0;
}
.kinhdoanh .box_dash i {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #333;
    border:none;
    padding: 0;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
}
.kinhdoanh .box_dash--text{
    color: #fff;
}
.kinhdoanh .List-project {
    position: relative;
}
.kinhdoanh .box_dash{
    border:none;
    border-radius: 5px;
}
.kinhdoanh .list_cust >li{
    border-color:#eee;
    padding: 10px;
    margin-bottom: 0;
}
.List-project .tt-Project {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.List-project .title {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20%;

}
.List-project .expense-Project{
    color: #888;
    font-size: 11px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20%;
}
.List--Project{
    display: flex;
    width: 100%;
}
.List--Project .St--Project {
    /* flex-grow: 1; */
    width: 45px;
}
.List--Project .N--Project{
    /* flex-grow: 5; */
    flex: 1;
}
.List--Project .S--Project {
    /* flex-grow: 1; */
}
.List--Project .St--Project{
    text-align: center;
}
.List--Project .S--Project{
    text-align: right;
    padding-right:10px;
}
.List--Project .St--Project .Stt{
    display: inherit;
    width: 40px;
    text-align: center;
    margin: auto;
    line-height: 40px;
}
.license .List--license{
    position: relative;
}
.List--license .title {
    font-size: 14px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 20%;
}
.List--license .tt-license {
    position: absolute;
    top: 50%;
    right: 15px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}
.license .box_dash i{
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
    border: none;
    padding: 0;
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 25px;
    border-radius: 50%;
}
.box-L--License{
    min-height: 133px;
}
.license .box_dash {
    border: none;
    border-radius: 5px;
    box-shadow: 1px 5px 10px -8px #000;
}
.license .box_dash--text{
    padding-left: 70px;
}
.table--license{
    width: 100%;
    float: left;
}
.table--license thead {
    background: #17a2b8;
    color: #fff;
}
.table--license thead tr th,.table--license tbody tr td{
    text-align: center;
}


/* UPDATE KD & LS 19-12-2018 */
.title_bigbox .fa {
    border-radius: 50%;
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    margin-right: 10px;
}
.tailieu--filter select {
    padding: 5px;
    border-radius: 20px;
}
.Number.Top {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    font-weight: bold;
}
.highcharts-credits,
.highcharts-exporting-group{
    display: none;
}
.L--License {
    position: relative;
}
.L--License .box_License--text{
    /* padding-left: 95px; */
    font-size: 13px;
    /* margin-top: 10px; */
    margin: 0;
    flex: 1;
    text-align: left;
    padding-left: 15px;
}
.L--License .box_License--text span{
    font-size: 18px;
    font-weight: 500;
}
.L--License i{
    color: #fff;
    border: none;
    padding: 0;
    display: flex;
    width: 40px;
    height: 40px;
    font-size: 25px;
    border-radius: 6px;
    line-height: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.box_list--License ul.list_cust li{
    /* height: 55px; */
    margin: 0;
    padding: 7px 0;
}
.box_list--License .table tr td{
    vertical-align: middle;
}
.box_shaDown .half_col {
	height: calc(50% - 15px);
    background: #fff;
    -webkit-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    -moz-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    margin: 0 15px;
    border-radius: 0.375rem;
    margin-bottom: 30px !important;
}

.half_col_parent {
    justify-content: space-between;
}

.flex_streck .box_shaDown.half_col_parent {
    background: transparent;
    box-shadow: none;
}
.L--License {
    padding: 0 15px;
    display: flex;
    align-items: center;
}
.kinhdoanh .box_dash {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
body {
    /* padding-top: 50px; */
}
.big--new .caption .title a:hover,
.big--new .caption .title a {
    color: #fff !important;
}
.List--giaithuong .img-gt {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 15px 15px;
}
.InfoNv .headerNv {
    display: flex;
    align-items: center;
}
.main_title_cap,.main_title_cap > a {
    font-size: 18px;
    font-weight: 500 !important;
    font-family: 'Open Sans', sans-serif;
}
.InfoNv .headerNv .ThongTin--nv {
    flex: 1;
}

.InfoNv .headerNv .ThongTin--nv .Name,.InfoNv .headerNv .ThongTin--nv .Team {
    margin: 5px 0;
}
.list_cust >li >a {
    /* display: flex; */
    /* align-items: flex-start; */
}

.list_cust >li >a >strong {
    /* flex: 1; */
    /* padding-left: 10px; */
}

.list_cust >li >a.status-avatar {
    align-items: center;
}
.list_cust >li .info_file {
    flex: 1;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.tailieu .tab-content > .tab-pane {
    padding: 15px 0;
}
.main_block {
    padding-top: 75px;
}
.main_block:not(:last-child) {
    margin-bottom: -50px;
}
#scrollspy_Nav .nav > li > a {
    font-weight: normal;
    color: #fff;
    z-index: 1;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
}
#scrollspy_Nav .nav > li > a,
#scrollspy_Nav .nav > li > a:focus,
#scrollspy_Nav .nav > li > a:hover {
    background-color: transparent;
    color: #fff !important;
}
#scrollspy_Nav .nav > li > a svg {
    max-width: 22px;
    max-height: 22px;
    width: auto;
    height: 100%;
}

#scrollspy_Nav .nav > li > a svg path {
    fill: #fff;
}

.today_news .small--caption .time,
.new_news .small--caption .time{
    position: relative;
}

.new_news .small--caption .time:after {
    content: "New";
    background: #8BC34A;
}

.today_news .small--caption .time:after {
    content: "Today";
    background: #F44336;
}

.today_news .small--caption .time:after,
.new_news .small--caption .time:after{
    color: #fff;
    padding: 1px 5px;
    border-radius: 3px;
    font-size: 10px;
    margin-left: 5px;
}
.box_dash.box_shaDown {
    margin: 0;
}


.thongkeTailieubox .box_shaDown {
    margin: 0;
}


/* ON/OFF Switch */
.onoffswitch {
  position: relative;
  width: 55px;
  display: inline-block;
  font-size: 80%;
}
.onoffswitch .onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin: 0;
}
.onoffswitch .onoffswitch-inner {
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.15s ease-in-out;
  -o-transition: margin 0.15s ease-in-out;
  -moz-transition: margin 0.15s ease-in-out;
  transition: margin 0.15s ease-in-out;
}
.onoffswitch .onoffswitch-inner:before,
.onoffswitch .onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 24px;
  padding: 0;
  line-height: 24px;
  font-size: 80%;
  color: hsl(0, 0%, 100%);
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.onoffswitch .onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #8BC34A;
  color: hsl(0, 0%, 100%);
}
.onoffswitch .onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 24%);
  text-align: right;
}
.onoffswitch .onoffswitch-switch {
  width: 22px;
  height: 22px;
  margin: 0;
  background: hsl(0, 0%, 100%);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  bottom: 0;
  right: 35px;
  -webkit-transition: right 0.15s ease-in-out;
  -o-transition: right 0.15s ease-in-out;
  -moz-transition: right 0.15s ease-in-out;
  transition: right 0.15s ease-in-out;
}
.toggle-group {
  position: relative;
  height: 27px;
}
.toggle-group input[type=checkbox] {
  position: absolute;
  left: 10px;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.toggle-group input[type=checkbox]:checked ~ .onoffswitch .onoffswitch-label .onoffswitch-switch {
  right: 1px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
.toggle-group input[type=checkbox]:focus ~ .onoffswitch {
  outline: thin dotted #333;
  outline: 0;
}
.toggle-group label {
  position: absolute;
  cursor: pointer;
  padding-left: 65px;
  display: inline-block;
  text-align: left;
  line-height: 24px;
  width: 100%;
  z-index: 1;
  height: 24px;
  font-weight: 200;
}


.dashboard_settings {
    position: fixed;
    top: 0;
    right: -450px;
    z-index: 99999;
    box-shadow: -3px 0px 50px -2px rgba(0, 0, 0, 0.14);
    -webkit-transition: all .3s;
       -moz-transition: all .3s;
        -ms-transition: all .3s;
         -o-transition: all .3s;
            transition: all .3s;
}
.dashboard_settings.active {
    right: 0;
}

.dashboard_settings .dbs_btn {
    width: 50px;
    height: 50px;
    background: #fff;
    padding: 5px;
    position: absolute;
    top: 100px;
    left: -50px;
    box-shadow: 0 0 6px rgba(0,0,0,.25);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashboard_settings .dbs_btn svg {
    width: 35px;
    height: 35px;
}

.dashboard_settings .dbs_content {
    background: #fff;
    overflow: auto;
    height: 100vh;
    padding: 15px;
    position: relative;
}
.dbs_content_item .dbs_content_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dbs_content_item .dbs_content_filter .dbs_content_filter_title {
    text-transform: uppercase;
    font-size: 16px;
}

.dbs_content_item {
    width: 420px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

.dbs_content_item .items_switch {
    margin-left: -10px;
    margin-right: -10px;
}

.dbs_content_item .items_switch > li {
    float: left;
    width: calc(50% - 20px);
    margin: 10px;
}

.dbs_content_item .items_switch > li .item_switch {
    display: flex;
    flex-direction: column;
}

.dbs_content_item .items_switch > li .item_switch .item_switch_thumb {
    width: 100%;
    height: 0;
    position: relative;
    padding-bottom: 56.25%;
    border: 1px solid #eee;
    overflow: hidden;
    border-radius: 5px;
}

.dbs_content_item .items_switch > li .item_switch .item_switch_thumb a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dbs_content_item .items_switch > li .item_switch .item_switch_thumb a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}
.item_switch_filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
.dbs_content_item .items_switch > li.full_width {
    width: calc(100% - 20px);
}

.dbs_content_item .items_switch > li.full_width .item_switch .item_switch_thumb {
    height: auto;
    padding-bottom: 0;
}

.dbs_content_item .items_switch > li.full_width .item_switch .item_switch_thumb a {
    position: relative;
    float: left;
    padding: 10px 0;
}



.item_switch_filter .item_switch_title {
    padding-right: 5px;
}
.dbs_content_item .items_switch > li .item_switch:hover {}

.dbs_content_item .items_switch > li .item_switch:hover {}

.dbs_content_item .items_switch > li .item_switch .item_switch_thumb a:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background-image: -webkit-linear-gradient(top, rgba(68,225,223,0.8) 0%, #2f97d9cc 100%);
    background-image: linear-gradient(to bottom, rgb(0, 175, 252) 0%, #0096d8 100%);
    background-repeat: repeat-x;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: 0;
}


.dbs_content_item .items_switch > li .item_switch .item_switch_thumb a:after {
    content: "\f245";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -17.5px;
    margin-left: -17.5px;
    color: rgba(255, 255, 255, 1);
    z-index: 2;
    font-size: 28px;
    background: rgb(255, 255, 255, .0);
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    -o-transform: translateY(20px);
    opacity: 0;
    filter: alpha(opacity=0);
    font: normal normal normal 14px/1 FontAwesome;
    line-height: 33px;
    border: 1px solid #fff;
}

.dbs_content_item .items_switch > li .item_switch:hover .item_switch_thumb a:before {
    opacity: .5;
    filter: alpha(opacity=50);
}

.dbs_content_item .items_switch > li .item_switch:hover .item_switch_thumb a:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.dbs_content_item .items_switch > li .item_switch .item_switch_thumb a:hover:before {
    opacity: .75;
    filter: alpha(opacity=75);
}

@keyframes border_animation {
    0%   {
		opacity: 1;
    }
    25%  {
		opacity: 0;
    }
    50%  {
		opacity: 1;
    }
    75%  {
		opacity: 0;
    }
    100% {
		opacity: 1;
    }
}
@-webkit-keyframes border_animation {
    0%   {
		opacity: 1;
    }
    25%  {
		opacity: 0;
    }
    50%  {
		opacity: 1;
    }
    75%  {
		opacity: 0;
    }
    100% {
		opacity: 1;
    }
}
@-moz-keyframes border_animation {
    0%   {
		opacity: 1;
    }
    25%  {
		opacity: 0;
    }
    50%  {
		opacity: 1;
    }
    75%  {
		opacity: 0;
    }
    100% {
		opacity: 1;
    }
}
@-o-keyframes border_animation {
    0%   {
		opacity: 1;
    }
    25%  {
		opacity: 0;
    }
    50%  {
		opacity: 1;
    }
    75%  {
		opacity: 0;
    }
    100% {
		opacity: 1;
    }
}
.target-ed{
	-webkit-animation: border_animation 1.5s 1;
    -moz-animation: border_animation 1.5s 1;
    -o-animation: border_animation 1.5s 1;
    animation: border_animation 1.5s 1;
}
.dbs_content_item.no_act .items_switch {
    opacity: .5;
    pointer-events: none;
}