/*@media(max-width:1680px) {
    :root{
        --bh-main-padding: 30px;
    }
    .behicle-logo img {
        max-width: 300px;
        max-height: 65px;
    }
    .header-content .header-center {
        padding-left: 25px;
    }
    .menu>ul>li>a {
        padding: 0 15px;
        font-size: 18px;
    }
    .account-login .account-info > a > .account-name{
        font-size: 18px;
    }
    .account-link .link-title {
        font-size: 18px;
        padding-top: 8px;
    }
    .account-info {
        padding: 10px 0;
    }
    .about-behicle:after {
        width: 750px;
        height: 100%;
        top: 150px;
        right: 30px;
    }
}*/
@media(min-width:1921px) {
    .standard-btns .primary-button, .behicle-do .primary-button { font-size: 30px; }
}
@media(max-width:1920px) {
    :root { --bh-main-padding: 30px; }
    .widget.widget-small { max-width: 480px; }
    .widget-body { padding: 40px 30px; }
    .wb-title { padding: 0 20px; }
    .wb-title.single-title { padding: 0; margin-bottom: 5px; }
    .wb-artice h3 { font-size: 22px; }
    .widget-body form .form-group input.form-control, .widget-body form .form-group select.form-control { height: 40px; line-height: 28px; }
    .widget-body form .form-group .icon-input img { width: 18px; height: 18px; top: 12px; }
    .widget-body form .form-group .icon-input .form-control { padding-left: 50px; }
    .widget button, .widget .primary-button { font-size: 16px; padding-top: 14px; padding-bottom: 14px; }
    .wb-sub-title { font-size: 16px; margin-bottom: 12px; }
    .wb-main-title { font-size: 40px; }
    .wb-title.single-title .wb-main-title { font-size: 60px; }
    .custom-control-label { padding-top: 3px; font-size: 14px; }
    .custom-control-label::after { width: 20px; height: 20px; top: 0; left: -30px; }
    .custom-control-label::before { width: 20px; height: 20px; top: 0; left: -30px; }
    .custom-control { padding-left: 35px; min-height: 25px; }
    .bh-form-group { margin-bottom: 10px; }
    .widget-header { padding: 32px 30px 22px 30px; }
    .widget-header.medium-padding { padding: 24px 30px 14px 30px; }
    .widget-footer { padding: 20px 30px; }
    .widget-title .main-title { font-size: 30px; }
    .pt-content .pt-des { font-size: 22px; }
    .pt-content .pt-name { font-size: 36px; }
    .widget { margin: 60px auto; }
    .widget + .widget { margin-top: -30px; }
    .block-title { font-size: 26px; }
    .basic-info img { margin-right: 20px; }
    .bs-info-name { font-size: 16px; }
    .widget .primary-button.has-arrow.arrow-left:after { width: 16px; height: 16px; }
    .widget .primary-button.has-arrow:after { width: 16px; height: 16px; }
    .page-link { padding: 12px 18px; font-size: 14px; }
    .widget-noti { font-size: 16px; }
    .widget-cost .cost-price { font-size: 30px; }
    .block-header { margin: 20px 0; }
    .pr-pic-header time { font-size: 16px; }
    .profile-name { font-size: 36px; }
    .profile-avatar { width: 160px; margin-right: 35px; }
    .profile-img > img { width: 160px; height: 160px; }
    .profile-img button { bottom: 10px; right: 10px; }
    .profile-list > a { font-size: 14px; padding: 8px 20px; }
    .profile-bottom .widget:not(.og-widget) { margin: 30px auto 40px auto; max-width: 320px; }
    .profile-bottom .widget.widget-clear { margin: 0; width: auto; max-width: 1920px; }
    footer .widget-title { font-size: 30px; }
    .profile-list ul li { font-size: 16px; }
    .profile-list ul li .span_label { width: 140px; }
    .profile { padding: 100px 15px 60px 15px; }
    .profile.medium-padding { padding: 60px 15px 10px 15px; }
    .page-filter { padding: 30px 0; }
    .project-title a { font-size: 24px; }
    .project-info .project_count, .project-info time { font-size: 16px; }
    .project-info .label { font-size: 14px; }
    .modal-title { font-size: 30px; padding: 0 30px; }
    .modal-body .widget-body { padding: 0 15px 30px 15px; }
    .modal-body .widget-body form { padding: 0 15px; }
    .modal-header .close { top: -45px; width: 25px; height: 25px; opacity: .95; }
    .form-btns button { height: 40px; font-size: 14px;        /*padding-bottom: 2px;*/ }
    .modal-dialog { margin: 70px auto 1.75rem auto; }
    .widget-body form .form-group label:not(.custom-control-label), form .widget-body .form-group label:not(.custom-control-label) { font-size: 13px; }
    .modal-header { padding-top: 35px; padding-bottom: 20px; }
    .project-menu .project-menu-ul > li > a > span, .account-login .account-menu > li > a > span { flex: 1; margin-left: 10px; }
    .project-menu .project-menu-ul > li > a, .account-login .account-menu > li > a { padding: 10px 15px 10px 15px; }
    .project-menu .project-menu-ul > li > a > img, .account-login .account-menu > li > a > img { width: 16px; height: 16px; }
    .account-login .account-menu { width: 250px; padding: 2px 0; }
    .project-menu .project-menu-ul { width: 200px; padding: 2px 0; }
    .project-menu .project-menu-ul > li:first-child > a, .account-login .account-menu > li:first-child > a { border-top-left-radius: 8px; border-top-right-radius: 8px; }
    .project-menu .project-menu-ul > li:last-child > a, .account-login .account-menu > li:last-child > a { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
    .form-link { font-size: 14px; }
    .form-control { font-size: 14px; }
    .header-content .header-center { padding-left: 25px; }
    .page-title { padding: 75px 0; }
    .behicle-logo img { max-width: 250px; max-height: 55px; }
    .menu>ul>li>a { padding: 0 12px; font-size: 16px; }
    .account-login .account-info > a > .account-name { font-size: 16px; }
    .account-link .link-title { font-size: 16px; }
    .account-info { padding: 10px 0; }

    /*BUTTON*/
    .primary-button { padding: 22px; font-size: 30px; }
    .primary-button.has-arrow:after, .primary-button.green.has-arrow:after { width: 30px; height: 30px }

    /*TITLE*/
    .primary-sub-title { font-size: 26px; margin-bottom: 20px; }
    .primary-title, .car-size-slider .primary-title, .behicle-standard .primary-title { font-size: 70px; }
    .section-title { margin: 46px 0; }

    /*HERO*/
    .hero-title { font-size: 60px; }
    .hero-des { font-size: 40px; margin-top: 75px; }
    .hero-item:before, .hero-item:after { height: 350px; width: 350px; }

    /*HOME BLOCK*/
    .featured-item .featured-button { width: 60px; height: 60px; }
    .featured-info .featured-title { font-size: 46px; margin-top: 45px; padding: 0 60px; }
    .featured-info .featured-des { font-size: 26px; padding: 0 60px; }

    /*about-behicle*/
    .about-text { font-size: 26px; }
    .about-media { margin-top: 80px; }
    .about-behicle { padding: 50px 0; }
    .about-behicle:after { width: 650px; height: 100%; top: 150px; right: 30px; }

    /*behicle do*/
    .behicle-do .container { padding: 0 15px; }
    .behicle-do .primary-button { margin: 70px 0 30px 0; }
    .behicle-content .behicle-block { padding: 0 15px; }
    .behicle-thumb { width: 375px; }
    .behicle-info { padding-right: 30px; }
    .behicle-des { font-size: 14px; }
    .behicle-title { font-size: 24px; }
    .behicle-title > span { font-size: 12px; display: block; }
    .behicle-do .block-no { margin-bottom: 20px; }
    .behicle-sub-title { font-size: 36px; margin: 50px 0 50px 0; }
    .behicle-do { padding: 50px 75px; }
    .block-no { font-size: 40px; }

    /*behicle service*/
    .behicle-service { padding-top: 70px; }
    .service-sub-title { font-size: 35px; margin: 0; }
    .service-items { margin: 80px 0 0 0; }
    .service-title { font-size: 24px; }
    .service-info .block-no { margin-right: 25px; }

    /*car price*/
    .car-size-slider { padding: 40px 0 60px; }
    .car-size-slider .owl-slider { margin: 50px 0; }
    .car-price { font-size: 42px; margin-top: 70px; }
    .car-size-slider .container { padding: 0 15px; }
    .car-item > ul > li { font-size: 44px; }
    .car-item .car-thumb { width: calc(100% - 120px); }
    .car-size-slider .owl-slider .slide_prev, .car-size-slider .owl-slider .slide_next { width: 45px; height: 85px; top: 20%; }

    /*behicle order*/
    .behicle-order { padding: 50px 0 80px 0; }
    .order-sub-tile { font-size: 26px; }
    .order-items { margin: 50px 0; }
    .order-items .order-item .head-number > span { width: 100px; height: 100px; line-height: 100px; font-size: 36px; }
    .order-title { font-size: 20px; margin: 0 0 20px 0; }

    /*behicle standard*/
    .behicle-standard { padding: 30px 0; }
    .standard-item img { width: 120px; height: 120px; }
    .standard-item p { padding-left: 40px; font-size: 40px; margin: 70px 0; }
    .standard-more { font-size: 40px; margin: 25px 0; }
    .section-arrow { margin: 50px 0; }
    .standard-more img { max-width: 40px; max-height: 40px; }
    .standard-btns { margin: 75px 0 100px 0; }

    /*behicle market*/
    .behicle-market { padding: 140px 0 60px 0; }
    .market-content .market-vertical { width: 230px; }
    .market-thumb { margin-bottom: 40px; }
    .market-title { font-size: 20px; margin-bottom: 40px; }
    .market-des { font-size: 18px; margin-bottom: 35px; }

    /*news*/
    .news { padding: 45px 0; }
    .news-items .news-item { margin-bottom: 40px; }
    .news-items .news-item time { font-size: 16px; }
    .news-items .news-item h3 { padding-left: 130px; }
    .news .primary-button { margin: 50px 0 50px 0; }

    /*partner*/
    .partner { padding: 35px; }
    .partner-items { margin: 20px 0 70px 0; }

    /*footer*/
    .footer-widget { margin: 80px 0; }
    .credit-img { margin-bottom: 20px; }
    .credit-img img { max-width: 300px; max-height: 150px; }
    .footer-credit .copyright { font-size: 16px; margin-bottom: 35px; }
}
@media(max-width:1640px) {
    .behicle-content .behicle-block:first-child { padding: 30px 0; }
    .service-section:before, .service-section:after { height: 250px; }

    /*projects-grid*/
    .projects-grid { grid-template-columns: repeat(5, 1fr); }
}
@media(max-width:1200px) {
    .page-title { padding: 70px 0; }

    /*behicle do*/
    .behicle-do .container { padding: 0 15px; }
    .behicle-do .primary-button { margin: 70px 0 30px 0; }
    .behicle-content .behicle-block { padding: 0 15px; }
    .behicle-thumb { width: 350px; }
    .behicle-info { padding-right: 20px; }
    .behicle-des { font-size: 13px; }
    .behicle-title { font-size: 19px; }
    .behicle-title > span { font-size: 12px; display: block; }
    .behicle-do .block-no { margin-bottom: 20px; }
    .behicle-sub-title { font-size: 24px; margin: 50px 0 50px 0; }
    .behicle-do { padding: 50px 30px; }
    .block-no { font-size: 30px; }

    /*BUTTON*/
    .primary-button { padding: 20px; font-size: 22px; }
    .primary-button.has-arrow:after, .primary-button.green.has-arrow:after { width: 22px; height: 22px }
    .service-btns .primary-button span { font-size: 22px; }

    /*TITLE*/
    .primary-sub-title { font-size: 18px; margin-bottom: 15px; }
    .primary-title, .car-size-slider .primary-title, .behicle-standard .primary-title { font-size: 50px; }
    .section-title { margin: 36px 0; }

    /*HERO*/
    .hero-title { font-size: 40px; }
    .hero-des { font-size: 30px; margin-top: 55px; }
    .hero-item:before, .hero-item:after { height: 250px; width: 250px; }

    /*HOME BLOCK*/
    .featured-item .featured-button { width: 40px; height: 40px; }
    .featured-info .featured-title { font-size: 26px; margin-top: 35px; padding: 0 30px; }
    .featured-info .featured-des { font-size: 20px; padding: 0 30px; }

    /*about-behicle*/
    .about-behicle .container { padding: 0 15px; }
    .about-text { font-size: 20px; }
    .about-media { margin-top: 60px; }
    .about-behicle { padding: 40px 0; }
    .about-behicle:after { width: 500px; height: 100%; top: 100px; right: 20px; }

    /*behicle service*/
    .behicle-service { padding-top: 40px; }
    .behicle-service .container { padding: 0 15px; }
    .service-btns.container, .service-section { padding: 0; }
    .service-sub-title { font-size: 25px; margin: 20px 0 0 0; }
    .service-items { margin: 60px 0 0 0; }
    .service-title { font-size: 22px; }
    .service-info .block-no { margin-right: 20px; }
    .service-section:before, .service-section:after { height: 200px; }

    /*car price*/
    .car-size-slider { padding: 30px 0 40px; }
    .car-size-slider .owl-slider { margin: 40px 0; }
    .car-price { font-size: 32px; margin-top: 40px; }
    .car-size-slider .container { padding: 0 15px; }
    .car-item > ul > li { font-size: 34px; }
    .car-item .car-thumb { width: calc(100% - 120px); }
    .car-size-slider .owl-slider .slide_prev, .car-size-slider .owl-slider .slide_next { width: 35px; height: 66px; top: 22%; }

    /*behicle order*/
    .behicle-order { padding: 40px 0 60px 0; }
    .order-sub-tile { font-size: 22px; }
    .order-items { margin: 40px 0; }
    .order-items .order-item .head-number > span { width: 80px; height: 80px; line-height: 80px; font-size: 30px; }
    .order-title { font-size: 18px; margin: 0 0 15px 0; }

    /*behicle standard*/
    .behicle-standard { padding: 20px 0; }
    .standard-item img { width: 80px; height: 80px; }
    .standard-item p { padding-left: 30px; font-size: 30px; margin: 50px 0; }
    .standard-more { font-size: 30px; margin: 15px 0; }
    .section-arrow { margin: 40px 0; }
    .standard-more img { max-width: 30px; max-height: 30px; }
    .standard-btns { margin: 50px 0 50px 0; }

    /*behicle market*/
    .behicle-market { padding: 100px 0 50px 0; }
    .behicle-market .container { padding: 0 15px; }
    .market-content .market-vertical { width: 220px; }
    .market-thumb { margin-bottom: 30px; }
    .market-title { font-size: 18px; margin-bottom: 35px; }
    .market-des { font-size: 16px; margin-bottom: 30px; }

    /*news*/
    .news { padding: 30px 0; }
    .news-items .news-item { margin-bottom: 40px; }
    .news-items .news-item h3 { padding-left: 90px; }
    .news .primary-button { margin: 20px 0 45px 0; }

    /*partner*/
    .partner { padding: 20px; }
    .partner-items { margin: 15px 0 40px 0; }

    /*footer*/
    .footer-widget { margin: 60px 0; }
    .credit-img img { max-width: 260px; max-height: 130px; }
    .footer-credit .copyright { font-size: 16px; margin-bottom: 25px; }
    .behicle-logo img { max-width: 150px; max-height: 35px; }
    .account-login .account-info > a > img { width: 35px; height: 35px; }
    .menu>ul>li>a { padding: 0 8px; font-size: 14px; }
    .account-login .account-info > a > .account-name { font-size: 14px; }
    .account-link .link-title { font-size: 14px; padding-top: 5px; margin-left: 10px; }
    .project-menu .project-menu-ul, .account-login .account-menu { width: 250px; }

    /*projects-grid*/
    .projects-grid { grid-template-columns: repeat(4, 1fr); }
}
@media (min-width:992px) {
    .account-link .mobile-link { display: none; }
    .project-menu:hover .project-menu-ul, .account-info:hover .account-menu { top: 100%; visibility: visible; opacity: 1; z-index: auto; }
    .project-menu:hover .project-menu-ul { top: 40px; }

    /* MOBILE MENU */
    .toggle-menu-right, body #offcanvas { display: none; }
    .standard-item p span+ span { font-size: 90%; }
}
@media(max-width:991px) {
    .header { padding: 18px 0; }
    .main-car-pic .slick-slide img { height: 450px; }
    .sub-car-pic .slick-slide img { height: 175px; }
    .profile.medium-padding { padding: 50px 15px 10px 15px; }
    .profile { padding: 60px 15px 30px 15px; }
    .invalid-main { width: 100%; }
    .bp-thumb { width: 225px; height: 225px; }
    .page-filter { padding: 20px 0; }
    .single-page-nav { margin: 15px 0 40px 0; }
    .bp-right { padding: 15px 20px; }
    .project-info .label, .project-info .project_count, .project-info time { font-size: 14px; }
    .project-info time:before, .project-info .project_count:before { width: 16px; height: 16px; }
    .project-info .project_count, .project-info time { padding-left: 25px; }
    .project-info .project_count { margin-left: 20px; }
    .profile-info { padding-top: 15px; }
    .profile-avatar { width: 130px; margin-right: 20px; }
    .profile-img > img { width: 130px; height: 130px; }
    .profile-img button { bottom: 5px; right: 5px; }
    .page-title { padding: 50px 0; }

    /*BUTTON*/
    .primary-button { padding: 16px; font-size: 16px; }
    .primary-button.has-arrow:after, .primary-button.green.has-arrow:after { width: 16px; height: 16px }
    .service-btns .primary-button span { font-size: 16px; }
    .primary-button.small-btn { padding: 14px; font-size: 14px; }

    /*TITLE*/
    .primary-sub-title { font-size: 12px; margin-bottom: 10px; }
    .project-title a { font-size: 22px; }
    .profile-name, .primary-title, .car-size-slider .primary-title, .behicle-standard .primary-title { font-size: 30px; }
    .arrow-detail img { max-width: 12px; }
    .section-title { margin: 26px 0; }

    /*HERO*/
    .hero-title { font-size: 25px; }
    .hero-des { font-size: 18px; margin-top: 40px; }
    .hero-item .primary-button { display: none; }
    .hero-item .store-btn { display: block; margin-top: 25px; }
    .hero-item:before, .hero-item:after { height: 134px; width: 134px; }
    .hero-banner .hero-item { min-height: 400px; }

    /*HOME BLOCK*/
    .featured-item > img { height: 200px; }
    .featured-item .featured-button { right: 50%; width: 20px; height: 20px; margin-right: -10px; }
    .featured-info .featured-title { font-size: 14px; margin-top: 30px; padding: 0 15px; }
    .featured-info .featured-des { font-size: 12px; padding: 0 15px; }
    .behicle-featured { padding: 15px; }

    /*about-behicle*/
    .about-behicle .container { padding: 0 15px; }
    .about-text { font-size: 13px; }
    .about-media { margin-top: 41px; }
    .about-behicle { padding: 10px 0 40px 0; }
    .about-behicle:after { width: 450px; height: 100%; top: 30px; right: 10px; }

    /*behicle do*/
    .behicle-content .behicle-block:first-child, .behicle-content .behicle-block:last-child { background: var(--bh-main-color); padding-top: 0; padding-bottom: 0; }
    .behicle-do { padding: 0; }
    .behicle-do .container { padding: 0 15px; }
    .behicle-do .primary-button { margin: 15px 0 15px 0; }
    .behicle-content .behicle-block { padding: 0 15px; }
    .behicle-content .behicle-block:first-child { padding-top: 10px; }
    .behicle-item { flex-direction: column; }
    .behicle-item { max-width: 720px; padding: 0 15px; }
    .behicle-info { padding-right: 0; }
    .behicle-title, .block-no, .behicle-des { text-align: center; }
    .behicle-thumb { width: 100%; }
    .behicle-des { font-size: 13px; }
    .behicle-title { font-size: 19px; }
    .behicle-title > span { font-size: 12px; display: block; }
    .behicle-do .block-no { margin-bottom: 20px; }
    .behicle-sub-title { font-size: 14px; margin: 0px 0 20px 0; }
    .block-no { font-size: 30px; }

    /*behicle service*/
    .behicle-service { padding-top: 0; }
    .behicle-service .container { padding: 0 15px; }
    .service-btns.container, .service-section { padding: 0; }
    .service-btns { margin: 0 auto; max-width: 100%; }
    .service-btns .primary-button { border-radius: 0; }
    .service-section:before, .service-section:after { display: none; }
    .service-sub-title { font-size: 16px; margin: 40px 0 0 0; }
    .service-items { margin: 40px 0 0 0; }
    .service-item { width: 100%; }
    .service-title { font-size: 19px; }
    .service-info .block-no { margin-right: 15px; }
    .service-des { font-size: 13px; }

    /*car price*/
    .car-size-slider { padding: 15px 0; }
    .car-size-slider .owl-slider { margin: 10px 0 35px 0; }
    .car-price { font-size: 16px; background: #fff; padding: 12px 15px; border-radius: 2px; border: solid 2px #81bb26; margin-top: 30px; }
    .car-size-slider .container { padding: 0 15px; }
    .car-item > ul > li { font-size: 20px; }
    .car-item .car-thumb { margin: 0 auto 15px auto; width: calc(100% - 120px); }
    .car-size-slider .owl-slider .slide_prev, .car-size-slider .owl-slider .slide_next { width: 15px; height: 26px; top: 22%; }

    /*behicle order*/
    .behicle-order { padding: 10px 0 10px 0; }
    .order-sub-tile { font-size: 16px; }
    .order-items { margin: 10px 0; flex-direction: column; }
    .order-items .order-item { width: 100%; display: grid; grid-template-columns: 50px auto; grid-template-rows: 50px auto; }
    .order-items .order-item .head-number { grid-row: 1/span 2; margin-bottom: 0; }
    .order-items .order-item .head-number > span { width: 50px; height: 50px; line-height: 50px; font-size: 20px; }
    .order-title, .order-des { padding-right: 0; padding-left: 10px; }
    .order-title { margin: 0; font-size: 16px; display: flex; align-items: flex-end; padding-bottom: 12px; }
    .order-des { font-size: 13px; margin-bottom: 30px; margin-top: -12px; }
    .order-items .order-item .head-number:before { content: ""; height: 100%; width: 4px; background: rgba(255, 255, 255, .4); display: block; top: 0; position: absolute; margin-top: 0; left: 23px; }
    .behicle-order .container { padding: 0 15px; }

    /*behicle standard*/
    .behicle-standard { padding: 10px 0; }
    .behicle-standard .container { padding: 0 15px; }
    .standard-items { margin: 0 0 15px 0; }
    .standard-item img { width: 43px; height: 43px; object-fit: contain; object-position: center; }
    .standard-item p { padding-left: 12px; font-size: 16px; margin: 23px 0; }
    .standard-more { font-size: 16px; clear: both; float: left; width: 100%; margin: 10px 0; }
    .section-arrow { margin: 30px 0; }
    .standard-more img { max-width: 16px; max-height: 16px; }
    .standard-btns { margin: 20px 0 0 0; }
    .standard-btns .primary-button { border-radius: 0; }
    .standard-btns .primary-button img { display: block; margin: 20px auto 0 auto; }
    .standard-btns .primary-button.has-arrow:after { display: none; }
    .standard-btns .primary-button span { display: block; }
    .standard-btns .container { max-width: 100%; padding: 0; }

    /*behicle market*/
    .behicle-market { padding: 60px 0 40px 0; }
    .behicle-market .container { padding: 0 15px; }
    .market-content { flex-direction: column; align-items: center; }
    .market-content .market-detail { padding-left: 0; }
    .market-content .market-vertical { width: 200px; }
    .market-content .market-detail { margin: 50px 0 0 0; }
    .market-thumb { margin-bottom: 30px; }
    .market-title { font-size: 14px; margin-bottom: 30px; }
    .market-des { font-size: 13px; margin-bottom: 30px; }

    /*news*/
    .news { padding: 10px 0; }
    .news .container { padding: 0 15px; }
    .news-items .news-item { margin-bottom: 30px; flex-direction: column; justify-content: flex-start; align-items: flex-start; }
    .news-items .news-item h3 { padding-left: 0; }
    .news .primary-button { margin: 10px 0 40px 0; }

    /*partner*/
    .partner { padding: 10px; }
    .partner-items { margin: 10px 0; }

    /*footer*/
    footer { padding: 10px 0; }
    .footer-widget { margin: 10px 0; }
    .footer-credit .copyright { font-size: 10px; margin-bottom: 10px; }
    .credit-img { order: 0; margin: 20px 0; }
    .footer-widget { order: 1; }
    .footer-credit { order: 2; }
    .credit-img img { max-width: 160px; max-height: 80px; }
    .footer-credit .copyright { font-size: 10px; margin-bottom: 10px; }
    .footer-widget .widget-menu { width: 100%; padding: 0; }
    footer .widget-title { font-size: 14px; margin-bottom: 10px; color: var(--bh-main-color); }
    footer .widget-title > i { display: block; float: right; -webkit-transition: all .25s; -moz-transition: all .25s; -ms-transition: all .25s; -o-transition: all .25s; transition: all .25s; }
    footer .widget-title { cursor: pointer; }
    footer .widget-title > i { color: #ccc; }
    footer .widget-title:hover > i { transform: scale(.8); }
    footer .widget-title.active > i.fa-plus:before { content: "\f068"; }
    footer .widget-title.active > i.fa-minus:before { content: "\f067"; }
    footer .widget-title { padding: 5px; border-radius: 4px; -webkit-transition: all .25s; -moz-transition: all .25s; -ms-transition: all .25s; -o-transition: all .25s; transition: all .25s; }
    footer .widget-title:hover { background: #141414; }
    .footer-widget .widget-menu > .widget-title + ul { display: none; }
    .footer-widget .widget-menu > .widget-title.active + ul { display: block; }
    footer .widget-title { pointer-events: auto; }
    .project-menu .project-menu-ul, .account-login .account-menu { display: none; visibility: visible; opacity: 1; z-index: auto; }
    .project-menu .project-menu-ul.active, .account-login .account-menu.active { display: block; }
    .account-info { padding: 0px 0; }
    .account-login .account-info > a > img { width: 30px; height: 30px; }
    .behicle-logo img { max-width: 130px; max-height: 30px; }
    .account-link .desktop-link, .header-center .menu { display: none }
    .account-link .mobile-link { display: block; }
    .toggle-menu-right { margin-left: 15px; }

    /* MOBILE MENU */
    body #offcanvas { display: none }
    .toggle-menu-right, body #offcanvas.active { display: block }
    body #offcanvas.active { z-index: 999999; }
    .offcanvas-push { bottom: 0; overflow: hidden; position: relative; left: 0; top: 0; transform: translate3d(0, 0px, 0px); transition: all 0.5s ease 0s; -webkit-transform: translate3d(0, 0px, 0px); -moz-transform: translate3d(0, 0px, 0px); -o-transform: translate3d(0, 0px, 0px); -o-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; }
    .offcanvas-push #page-wrapper:before { content: ""; width: 100%; height: 100%; position: fixed; background-color: rgba(30, 30, 30, 0.5); -webkit-animation: fade 500ms; -moz-animation: fade 500ms; -ms-animation: fade 500ms; animation: fade 500ms; z-index: 99999; }
    #offcanvas { right: 0; margin: 0; position: absolute; top: 0; transform: translateX(370px); -webkit-transform: translateX(370px); -moz-transform: translateX(370px); -o-transform: translateX(370px); -o-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; width: 320px; z-index: 1000; }
    #offcanvas.active { transform: translateX(0px); transition: transform 0.5s ease 0s; -o-transition: transform 0.5s ease 0s; -moz-transition: transform 0.5s ease 0s; -webkit-transition: transform 0.5s ease 0s; -webkit-transform: translateX(0px); -moz-transform: translateX(0px); -o-transform: translateX(0px); }
    #offcanvas.active { right: 0; opacity: 1; }
    .wrapper-container { transition: all 0.5s ease 0s; -o-transition: all 0.5s ease 0s; -moz-transition: all 0.5s ease 0s; -webkit-transition: all 0.5s ease 0s; }
    #offcanvas .navbar-nav li a { transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; }
    #offcanvas .navbar-nav li a:hover { color: var(--bh-main-color); transition: all 0.6s ease 0s; -moz-transition: all 0.6s ease 0s; -webkit-transition: all 0.6s ease 0s; -o-transition: all 0.6s ease 0s; }
    .offcanvas-mainnav .navbar-nav.megamenu { margin: 0; }
    #offcanvas { background: var(--bh-white-color); min-height: 100%; padding-bottom: 50px; height: auto; }
    #offcanvas .navbar-nav li a { color: var(--bh-text-color); display: block; font-size: 14px; padding: 15px 20px; text-decoration: none; -webkit-transition: color .25s ease-in-out 0s; -moz-transition: color .25s ease-in-out 0s; -ms-transition: color .25s ease-in-out 0s; -o-transition: color .25s ease-in-out 0s; transition: color .25s ease-in-out 0s; }
    #offcanvas .navbar-nav li.active>h3>a { color: var(--bh-main-color) !important; }
    #offcanvas .navbar-nav h3 { margin: 0; position: relative; }
    #offcanvas .navbar-nav h3 i { color: var(--bh-text-color); font-size: 20px; height: 45px; line-height: 45px; cursor: pointer; position: absolute; right: 2px; text-align: center; width: 45px; z-index: 9; -webkit-transition: all .25s; -moz-transition: all .25s; -ms-transition: all .25s; -o-transition: all .25s; transition: all .25s; }
    .arrow_carrot-right.arrow_carrot-down { transform: rotate(90deg) translateZ(0); -webkit-transform: rotate(90deg) translateZ(0); -moz-transform: rotate(90deg) translateZ(0); -ms-transform: rotate(90deg) translateZ(0); -o-transform: rotate(90deg) translateZ(0); transform: rotate(90deg) translateZ(0); }
    #offcanvas .navbar-nav h3 i:hover { color: var(--bh-main-color); }
    #offcanvas .navbar-nav ul { width: 100% !important; }
    #offcanvas .navbar-nav li { margin: 0; display: block; width: 100%; }
    #off-canvas-button { color: var(--bh-text-color); font-size: 20px; padding: 15px 20px; position: relative; text-align: right; }
    #off-canvas-button .off-canvas-nav { height: 35px; line-height: 35px; text-align: center; cursor: pointer; }
    #off-canvas-button .off-canvas-nav i:hover { color: var(--bh-main-color); }
    #off-canvas-button a { float: left; width: 115px; padding-left: 15px; }
    .off-canvas-nav span { float: left; display: inline-block; padding-top: 3px; }
    .off-canvas-nav i { font-size: 40px; vertical-align: bottom; display: inline-block; margin-right: -9px; }

    /*WIDGET*/
    .wb-sub-title { font-size: 12px; margin-bottom: 10px; }
    .wb-artice h3 { font-size: 18px; margin-bottom: 20px; }
    .wb-artice p { margin-bottom: 15px; }
    .wb-title.single-title .wb-main-title, .wb-main-title { font-size: 30px; margin-bottom: 10px; }
    .wb-description { margin-bottom: 10px; }
    .widget-body { padding: 30px 30px; }
    .pr-pic-header { padding: 17px 30px; }
    .widget-footer { padding: 20px 30px; }
    .widget-header { padding: 25px 30px 15px 30px; }
    .widget-header.medium-padding { padding: 20px 30px 10px 30px; }
    .widget { margin: 30px auto; }
    .widget + .widget { margin-top: 0px; }
    .modal-body .widget-body form, .widget-body form { padding: 0; }
    .modal-body .widget-body { padding: 0 15px 15px 15px; }
    .modal-title { padding: 0 15px; }
    .wb-title { margin-bottom: 0px; padding: 0; }
    .widget-thumb { width: 50px; height: 50px; margin-right: 15px; }
    .modal { padding-left: 15px; padding-right: 15px; }
    .widget-title .main-title { font-size: 30px; }
    .widget-title .sub-title { font-size: 14px; }
    .pt-content .pt-name, .block-title, .widget-cost .cost-price { font-size: 30px; }
    .pt-content .pt-des { font-size: 16px; }
    .widget-noti { font-size: 14px; }
    .page-link { padding: 18px 22px 13px 22px; font-size: 14px; }
    .widget-footer-btns { width: 100%; }

    /*projects-grid*/
    .projects-grid { grid-template-columns: repeat(3, 1fr); }
}
@media(min-width:768px) {
    .w-md-200 { width: 200px; }
    .w-md-250 { width: 250px; }
    .profile-bottom:after { padding-bottom: 300px; }
    .profile-bottom > img { height: 145px; }
}
@media(max-width:767px) {
    .profile-bottom:after { padding-bottom: 200px; }
    .profile-bottom > img { height: 100px; }
    .main-car-pic .slick-slide img { height: 350px; }

    /*about-behicle*/
    .about-behicle:after { width: 300px; }
    .bp-right .arrow-detail { display: none; }
    .project-title { line-height: 1; }
    .brand-projects .project-title a { font-size: 22px; }
    .brand-projects .project-field { flex-direction: column; margin-top: 5px; }
    .brand-projects .project-field .project_count { margin-left: 0; }
    .bp-thumb { width: 150px; height: 150px; }
    .project-title { margin-right: 1em; }
    .page-link { padding: 16px 16px 11px 16px; }
}
@media(max-width:640px) {
    .basic-info .bs-info-detail { align-items: center; }
    .profile-avatar { margin-right: 0; margin-bottom: 15px; }
    .profile-name { text-align: center; }
    .profile { flex-direction: column; align-items: center; }
    .block-title, .widget-cost .cost-price { font-size: 22px; }
    .primary-button.small-btn { font-size: 14px; padding: 12px; }
    .widget button.has-arrow, .widget .primary-button.has-arrow { padding-left: 30px; padding-right: 60px; }
    .widget .primary-button.has-arrow:after { width: 14px; height: 14px; }
    .widget-title .main-title { font-size: 22px; }
    .widget-footer { flex-direction: column; align-items: flex-start; }
    .basic-info > a { flex-direction: column; justify-content: center; }
    .basic-info img { width: 40px; height: 40px; margin-right: 0; }
    .bs-info-name { font-size: 14px; text-align: center; margin-top: 5px; }
    .table-items table .arrow-td { display: none; }

    /*projects-grid*/
    .projects-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width:576px) {
    .modal-dialog { max-width: 480px; }
}
@media(max-width:530px) {

    /*partner*/
    .partner-mobile { display: block; margin: 0 auto; }
    .partner-desktop { display: none; }
}
@media(max-width:480px) {
    .hidden-mobile { display: none; }
    .presents-list .present-item { width: calc(50% - 10px); }
    .main-car-pic .slick-slide img { height: 250px; }
    .sub-car-pic .slick-slide img { height: 120px; }
    .profile-bottom .widget:not(.og-widget) { max-width: 275px; }
    .project-menu .project-menu-ul:before, .project-menu .project-menu-ul:after, .account-login .account-menu:before, .account-login .account-menu:after { left: auto; right: 70px; }
    .account-login .account-info > a > .account-name { display: none }
    .project-menu .project-menu-ul, .account-login .account-menu { width: 100%; left: 0; right: auto; top: 75px; }
    .account-info { position: static; }

    /*about-behicle*/
    .about-behicle:after { width: 200px; }

    /*projects-grid*/
    .projects-grid { grid-gap: 10px 10px; }
}
@media(min-width:421px) {
    .align-items-420-start { -ms-flex-align: start !important; align-items: flex-start !important; }
}
@media(max-width:420px) {
    .presents-list .present-item { width: 100%; margin: 0 0px 10px 0px; }
    .table-items table tbody tr td, .table-items table thead tr th { display: block; padding-left: 0; text-align: center; }
    .table-items table tbody tr td:not(:first-child) { border-top: 0; }

    /*HOME BLOCK*/
    .featured-item .featured-button { bottom: 15px; }
    .project-title a { font-size: 16px; }
    .bp-thumb { width: 130px; height: 140px; }
    .bp-right { padding: 10px 20px; }

    /*projects-grid*/
    .projects-grid { grid-template-columns: repeat(1, 1fr); }
}