@media(max-width:1440px) {
    .media .col-right a:nth-child(2) { padding-bottom: 189.861985472%; }
}
@media(max-width:1366px) {

    /*footer*/
    .footer-info p span { font-size: 80px; }
    .footer-info p span b { font-size: 130px; }
}
@media(max-width:1200px) {
    .media .col-right a:nth-child(2) { padding-bottom: 190.861985472%; }

    /*footer*/
    .footer-info p span { font-size: 60px; }
    .footer-info p span b { font-size: 110px; }
}
@media(max-width:991px) {
    .media .col-right a:nth-child(2) { padding-bottom: 192.861985472%; }

    /*footer*/
    .footer-info p span { font-size: 30px; }
    .footer-info p span b { font-size: 70px; }
    .footer-info { padding: 40px; }
    .footer-info > p:not(:last-child) { margin-bottom: 100px; }

    /*banner*/
    .banner { padding-bottom: 60%; }
    .banner .logo-center { max-width: 300px; max-height: 300px; }

    /*subscription*/
    .subscription-txt { padding: 42px 15px 30px 15px; }
    .main-title, .subscription-txt h1 { font-size: 80px; }
    .subscription-txt p { font-size: 25px; }
    .subscription form .form-control, .subscription form .btn { font-size: 24px; }
}
@media(max-width:767px) {

    /*footer*/
    .footer-info p span { font-size: 30px; }
    .footer-info p span b { font-size: 40px; }
    .footer-info { padding: 30px; }

    /*banner*/
    .banner { padding-bottom: 65%; }

    /*subscription*/
    .main-title, .subscription-txt h1 { font-size: 60px; }
    .subscription-txt h1 { letter-spacing: 20px; }
    .subscription-txt p { font-size: 20px; }
    .subscription form .form-control, .subscription form .btn { font-size: 22px; border-radius: 10px; }
    .main-title { padding: 46px 15px; }
}
@media(max-width:575px) {

    /*footer*/
    .footer-info p span { font-size: 20px; }
    .footer-info p span, .footer-info p span b { letter-spacing: 0; }
    .footer-info > p:not(:last-child) { margin-bottom: 60px; }

    /*banner*/
    .banner { padding-bottom: 70%; }
    .banner .logo-center { max-width: 200px; max-height: 200px; }

    /*subscription*/
    .main-title, .subscription-txt h1 { font-size: 40px; }
    .subscription-txt h1 { letter-spacing: 15px; }
    .subscription form .form-control, .subscription form .btn { font-size: 18px; padding: 12px 15px; }
    .main-title { padding: 30px 15px; }

    /*media*/
    .media { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; max-height: 79vh; overflow: auto; padding-bottom: 0px; padding-top: 12px;}
    footer { padding-top: 12px; }
    .media .media-col { width: 100% !important; padding: 0 6px; }
    .media .media-col:not(:last-child) { margin-bottom: 15px; }
}
@media(max-width:480px) {

    /*footer*/
    .footer-info { padding: 15px; }

    /*banner*/
    .banner { padding-bottom: 75%; }

    /*subscription*/
    .main-title, .subscription-txt h1 { font-size: 30px; }
    .subscription-txt h1 { letter-spacing: 10px; }
    .subscription-txt p { font-size: 16px; }
    .subscription form .form-group { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
    .subscription form .form-control, .subscription form .btn { margin: 5px 15px; width: 100%; padding: 8px 15px; border-radius: 5px; }
    .subscription .subscription-link li a { width: 36px; height: 36px; line-height: 36px; margin: 4px; font-size: 16px; }
}